# Assignment 3

# For Salary Dataset

In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv("Salary_Data.csv")
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [44]:
df2 = df[["Age","Gender","Salary"]]
df2.head()

    Age  Gender    Salary
0  32.0    Male   90000.0
1  28.0  Female   65000.0
2  45.0    Male  150000.0
3  36.0  Female   60000.0
4  52.0    Male  200000.0

In [45]:
df2.shape

(6704, 3)

In [46]:
df2.isna().sum()

Age       2
Gender    2
Salary    5
dtype: int64

In [47]:
df2.dropna(inplace=True)

<ipython-input-47-f66736151044>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)

In [48]:
df2.isna().sum()

Age       0
Gender    0
Salary    0
dtype: int64

In [49]:
def age_group(age):
  if age <= 39:
    return "Young Adult"
  elif age <= 59:
    return "Middle Age Adult"
  else:
    return "old Adult"

df2["Age Group"] = df2["Age"].apply(age_group)
df2.head()

<ipython-input-49-24db456c706c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Age Group"] = df2["Age"].apply(age_group)

    Age  Gender    Salary         Age Group
0  32.0    Male   90000.0       Young Adult
1  28.0  Female   65000.0       Young Adult
2  45.0    Male  150000.0  Middle Age Adult
3  36.0  Female   60000.0       Young Adult
4  52.0    Male  200000.0  Middle Age Adult

In [50]:
df2["Age Group"].value_counts()

Age Group
Young Adult         5259
Middle Age Adult    1428
old Adult             12
Name: count, dtype: int64

In [51]:
df2.groupby(["Age Group"])["Salary"].mean()

Age Group
Middle Age Adult    171445.844538
Young Adult          99908.729606
old Adult           194221.833333
Name: Salary, dtype: float64

In [52]:
df2.groupby(["Age Group"])["Salary"].median()

Age Group
Middle Age Adult    180000.0
Young Adult          95000.0
old Adult           200000.0
Name: Salary, dtype: float64

In [53]:
df2.groupby(["Age Group"])["Salary"].agg(pd.Series.mode)

Age Group
Middle Age Adult    190000.0
Young Adult          55000.0
old Adult           200000.0
Name: Salary, dtype: float64

In [54]:
min = df2.groupby(["Age Group"])["Salary"].min()
min

Age Group
Middle Age Adult     60000.0
Young Adult            350.0
old Adult           179180.0
Name: Salary, dtype: float64

In [55]:
max = df2.groupby(["Age Group"])["Salary"].max()
max

Age Group
Middle Age Adult    250000.0
Young Adult         210000.0
old Adult           200000.0
Name: Salary, dtype: float64

In [56]:
range = max - min
print("Range\n",range)

mid_range = range/2
print("\nMid-Range\n",mid_range)

Range
 Age Group
Middle Age Adult    190000.0
Young Adult         209650.0
old Adult            20820.0
Name: Salary, dtype: float64

Mid-Range
 Age Group
Middle Age Adult     95000.0
Young Adult         104825.0
old Adult            10410.0
Name: Salary, dtype: float64

In [57]:
standard_dev = df2.groupby(["Age Group"])["Salary"].std()
standard_dev

Age Group
Middle Age Adult    27346.224381
Young Adult         47319.123769
old Adult            8251.159046
Name: Salary, dtype: float64

In [58]:
variance = np.square(standard_dev)
variance

Age Group
Middle Age Adult    7.478160e+08
Young Adult         2.239099e+09
old Adult           6.808163e+07
Name: Salary, dtype: float64

# For Iris Flower Dataset

In [59]:
df3  = pd.read_csv("Iris.csv")
df3.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [60]:
df3.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [61]:
df3.shape

(150, 6)

In [63]:
df3["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [65]:
df3.groupby(df3["Species"])["SepalLengthCm"].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [66]:
df3.groupby(df3["Species"])["SepalLengthCm"].median()

Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64

In [67]:
min2 = df3.groupby(df3["Species"])["SepalLengthCm"].min()
min2

Species
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: SepalLengthCm, dtype: float64

In [68]:
max2 = df3.groupby(df3["species"])["sepal_length"].max()
max2

KeyError: 'species'

In [ ]:
range2 = max2 - min2
range2

In [ ]:
mid_range2 = range2/2
mid_range2

In [ ]:
df3.groupby(df3["species"])["sepal_length"].std()

In [ ]:
variance2 = df3.groupby(df3["species"])["sepal_length"].var()
variance2

In [ ]:
standard_dev2 = np.square(variance2)
standard_dev2